.events-header {
    background-color: rgb(55, 55, 255);
    justify-content: space-between;
}

h1 {
    color: white !important; 
}

.navbar {
    justify-content: space-between;
    display:inline-block !important;
}

ul.nav {
    white-space: nowrap;
    overflow-x: auto;
}

ul.nav li {
    display: inline-block;
    float: none;
}